body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: sans-serif;
}
/* navbar styling */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #4f4f4f;
}

li {
    list-style-type: none;
    border-right: 1px solid #bbb;
}

nav {
    font-weight: bold;
    font-family: sans-serif;
}

nav li:first-child {
    user-select: none;
}

nav a:hover {
    color: rgb(151, 226, 204);
}

li:last-child {
    border-right: none;
    justify-self: center;
}

li a {
    display: block;
    padding: 12px 15px;
    text-align: center;
}

.logo-navbar {
    display: flex;
    align-items: center;
    padding: 0 8px 0 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Segoe UI";
    color: rgb(42, 182, 140);
}

.logo-navbar img {
    width: 40px;
    height: 40px;
}

.login-navbar {
    display: flex;
    width: 100%;
    justify-content: right;
}

.login-navbar a {
    display: flex;
    align-items: center;
}

.login-navbar img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 8px;
}

a {
    text-decoration: none;
    color: rgb(42, 182, 140);
}

/* page styling */
.page {
    padding-top: 80px;
    outline: 1px dashed slateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    outline: 1px dashed salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* index.html */
.home {
    width: 90%;
}

.home section {
    width: 100%;
}

.home table {
    min-width: 600px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(51, 131, 107);
}

th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid rgb(42, 182, 140);
}

tr:nth-of-type(even) {
    background-color: #2e2e2e;
}

#guess-form {
    margin: auto;
}


/* Pop up for successful guess */
#solved {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    opacity: 1;
}

.pop-up {
    position: relative;
    max-width: 400px;
    width: 50%;
    height: 300px;
    outline: 1px dashed skyblue;
    background-color: #4f4f4f;
    opacity: 1;
}

#solved img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    color: white;
}

#solved p {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    width: 60%;
}

/* login.html */
form#login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
}

form#login label {
    margin: 10px 0;
}

form#login input {
    padding: 3px;
    border-radius: 5px;
}

button {
    color: white;
    width: 70px;
    height: 35px;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid rgb(51, 131, 107);
    background-color: rgb(42, 182, 140);
    margin-bottom: 40px;
    border-radius: 6px;
}

button#exit {
    position: absolute;
    right: 0;
    color: white;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 7px;
    background-color: rgb(42, 182, 140);
    border-radius: 6px;
}

button:hover {
    background-color: rgb(151, 226, 204);
}
