body {
    color: white;
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

.bg-pic {
    background-image: url(./images/rayquaza.jpg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(9px);
    z-index: -1;
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
}
/* navbar styling */
ul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #2f2f2f;
}

li {
    list-style-type: none;
    border-right: 1px solid #bbb;
    font-size: 16px;
}

nav {
    font-weight: bold;
    font-family: sans-serif;
}

nav li:first-child {
    user-select: none;
}

nav a {
    transition-property: color;
    transition-duration: 1s;
}

nav a:hover {
    color: rgb(151, 226, 204);
}

li:last-child {
    border-right: none;
    justify-self: center;
}

li a {
    display: block;
    padding: 12px 15px;
    text-align: center;
}

.logo-navbar {
    display: flex;
    align-items: center;
    padding: 0 8px 0 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Segoe UI";
    color: rgb(42, 182, 140);
}

.logo-navbar img {
    width: 30px;
    height: 30px;
    margin: 0 4px;
}

.logo-navbar span {
    font-size: 20px;
    padding-bottom: 8px;
}

.login-navbar {
    display: flex;
    width: 100%;
    justify-content: right;
}

.login-navbar a {
    display: flex;
    align-items: center;
}

.login-navbar img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 8px;
}

a {
    text-decoration: none;
    color: rgb(42, 182, 140);
}

/* page styling */
.container {
    position: relative;
    /* tint */
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    height: calc(100vh - 44px);
    display: flex;
    justify-content: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* index.html */
.home {
    width: 90%;
}

.home section {
    width: 100%;
}

/* Generations custom drop down */
select#generation,
::picker(select) {
    appearance: base-select;
    color: #000000;
    background-color: #ffffff;
}

select#generation:open::picker-icon {
    rotate: 180deg;
}

select#generation {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid rgb(9, 71, 53);
    border-radius: 6px;
    padding: 5px 8px;
    font: inherit;
    font-size: inherit;
    transition: rotate 0.35s;
}

option.genOption {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border: 2px solid rgb(9, 71, 53);
    transition: 0.4s;
}

option.genOption:first-of-type {
    border-radius: 6px 6px 0 0;
}

option.genOption:last-of-type {
    border-radius: 0 0 6px 6px;
}

option.genOption:not(option:last-of-type) {
    border-bottom: none;
}

option.genOption:nth-of-type(odd) {
    background-color: #eeeeee;
}

.home :is(option:hover, option:focus) {
    background-color: rgb(151, 226, 204);
}

.home table {
    min-width: 600px;
    width: 100%;
    border-radius: 16px;
    border-collapse: collapse;
    border: 1px solid rgb(42, 182, 140);
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid rgb(42, 182, 140);
}

tr:nth-of-type(even) {
    background-color: #4f4f4f;
}

tr:nth-of-type(odd) {
    background-color: #2e2e2e;
}

#guess-form {
    margin: 50px auto;
    width: fit-content;
}

/* Pop up for successful guess (Will be used when JS implemented) */
#solved {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    opacity: 1;
}

.pop-up {
    position: relative;
    max-width: 400px;
    width: 50%;
    height: 300px;
    outline: 1px dashed skyblue;
    background-color: #4f4f4f;
    opacity: 1;
}

#solved img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20px;
    color: white;
}

#solved p {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    width: 60%;
}

button#exit {
    position: absolute;
    right: 0;
    width: 30px;
}

/* login.html */

/* Register/login form styling */
.formBackground {
    position: absolute;
    top: 100px;
    height: 600px;
    width: 400px;
    background-color: #000000;
    opacity: 0.4;
    border-radius: 10px;
}

.loginRgstrForm {
    top: 100px;
    position: absolute;
    z-index: 1;
    height: 600px;
    width: 400px;
}

.loginRgstrForm h1 {
    text-align: center;
    margin: 60px 0 20px 0;
    font-size: 50px;
    color: rgb(42, 182, 140);
}

.loginRgstrForm a {
    transition: color 0.4s;
}

.loginRgstrForm a:hover {
    color: rgb(151, 226, 204);
}

form.userInfoForm label {
    display: block;
    margin: 10px 0;
}

.here {
    text-decoration: underline;
}

/* Error message styling (Will be used when JS implemented) */
.error {
    display: none;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: lightcoral;
    border: 2px solid darkred;
    border-radius: 6px;
}

/* General styling for buttons and inputs */
button {
    color: white;
    box-sizing: border-box;
    height: 33px;
    padding: 7px 12px;
    border: 2px solid rgb(9, 71, 53);
    background-color: rgb(51, 131, 107);
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(42, 182, 140);
}

input {
    box-sizing: border-box;
    height: 33px;
    padding: 7px 6px;
    border-radius: 8px;
    border: 2px solid rgb(9, 71, 53);
}
